doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Gere Tamás - CV

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        link(href='https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top.with-sidenav

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Gere Tamás
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#xp') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#project') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    //li.nav-item
                    //    a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content(data-aos='fade-up')
                    h1.mb-0
                        | Gere
                        span.text-primary Tamás
                    .subheading.mb-0
                        | I&apos;m
                        span.text-primary.typed(data-typed-items='Lead, Senior')
                        | Developer
                    .subheading.mb-5
                        | (70) 452-2992 ·
                        a(href='mailto:gt@kani.hu') gt@kani.hu
                    p.lead.mb-5
                        | I'm a senior software developer and technical leader. Got more than 15 years web development experience in various types of industries. I like to be in an environment that lets me devise new approaches, new ideas and new projects, that allows me to push the limits of my creativity. I'm thorough and precise in everything I do, and has a keen interest in technology, web / mobile applications and also in it's technical background.
                        | Currently I’m looking for work which I can do mainly from my home as an employee or by T&M contract.
                    .social-icons.d-print-none
                        a.social-icon(href='https://www.linkedin.com/in/tamasgere/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/gtgt', target='_blank')
                            i.fab.fa-github

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content(data-aos='fade-up')
                    h2 Skills
                    .subheading.mb-2 Soft skills
                    ul.fa-ul.mb-3
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Analyst: On a constant quest for knowledge and what better way to gain it than to attack and defend an idea, from every angle, from every side?
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Brainstormer: Always ready to combine my knowledge and originality to splay out every aspect of the subject at hand, quickly rejecting remorse options that don’t work and presenting ever more possibilities.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Proactive: Naturally engaged and interested in being productive and helpful to non-developer team members like project owner, testers and even to clients / partners.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Skeptic: Second thought helps to not only develop a better sense of other’s reasoning, but a better understanding of opposing ideas – since a sceptic is one of those who has some questions.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Understanding and understandable: Constantly developing the ability to communicate in other people’s language and frame of reference. This ability is very important for me. Used in everyday conversations which not only prevents many problems, but gains trust and respect.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Abstract thinker: A natural abstract thinker writes re-usable, flexible code by default.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Fast problem solver: Troubleshoots daily incidents when fast reaction is critical.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Energetic: Having no qualms with putting hard work when needed.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mentor: Has patience to work with new recruits, juniors, mediors.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Productive and helpful: Naturally engaged and interested in being productive and helpful to non-developer team members like project owner, testers and even to clients / partners.

                    .subheading.mb-2 Soft skills
                    ul.fa-ul.mb-3
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Lead development team in technical design, planning, implementing all kinds of web applications.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Guide business decisions from technical perspective like performance, reliability, scalability and security.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Implement unit, integration and functional tests.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Migrate and connect different systems, platforms, applications.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Migrate and connect different systems, platforms, applications.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Understand, use, train svn and git version control systems. Have experience in creating team standards, install / choose working software environments.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with team communication platforms like slack, riot, mattermost, etc.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Can configure and use task, build management and review systems like Attlassian apps (jira/bamboo/fisheye), Phacility’s phabricator, Redmine.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with linux systems, CI/CD.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Strong Agile Development / Scrum experience.
                    .d-print-none
                        .subheading.mb-3 Programming Languages & Tools
                        ul.list-inline.dev-icons.mb-0
                            li.list-inline-item
                                i.fab.fa-php
                            li.list-inline-item
                                i.fab.fa-symfony
                            li.list-inline-item
                                i.fab.fa-drupal
                            li.list-inline-item
                                i.fab.fa-wordpress
                            li.list-inline-item
                                i.fab.fa-html5
                            li.list-inline-item
                                i.fab.fa-css3-alt
                            li.list-inline-item
                                i.fab.fa-js-square
                            li.list-inline-item
                                i.fab.fa-vuejs
                            li.list-inline-item
                                i.fab.fa-angular
                            li.list-inline-item
                                i.fab.fa-react
                            li.list-inline-item
                                i.fab.fa-node-js
                            li.list-inline-item
                                i.fab.fa-sass
                            li.list-inline-item
                                i.fab.fa-less
                            li.list-inline-item
                                i.fab.fa-yarn
                            li.list-inline-item
                                i.fab.fa-gulp
                            li.list-inline-item
                                i.fab.fa-grunt
                            li.list-inline-item
                                i.fab.fa-npm
                            li.list-inline-item
                                i.fab.fa-android
                            li.list-inline-item
                                i.fab.fa-git
                            li.list-inline-item
                                i.fab.fa-phabricator
                            li.list-inline-item
                                i.fab.fa-linux
                            li.list-inline-item
                                i.fab.fa-osi
                            li.list-inline-item.small
                                span
                                    | and more...
            hr.m-0

            // ======= Experience Section =======
            section#xp.resume-section
                .resume-section-content(data-aos='fade-up')
                    .section-title.mb-4
                        h2 Professional Experience
                        //p
                        //    | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                    .row
                        .col-lg
                            // h3.xp-title Professional Experience
                            .xp-item
                                h3 DIGI Kft.
                                    small.text-muted Solo developer
                                h4 November 2019 - Present
                                p Now I’m hired again to Digi kft, which in 3 years grown significantly. This time, I'm under marketing department as solo developer.
                                ul
                                    li Work on public facing portals: new features, security checks / fixes, updates, refactoring.
                                    li Build a brand-new, modern main portal using Drupal 9.
                                    li
                                        | Transfer invitel.hu portal into own maintenance, using Symfony 5. Rebuilding some of it's features.
                                    li
                                        | Install and integrate Mautic 3.
                                    li
                                        | Work on web-security and GDPR in general.
                            .xp-item
                                h3 Online Solutions Group Gmbh.
                                    small.text-muted Contract developer
                                h4 January 2019 - November 2019
                                p
                                    | Online Solutions Group is a German online marketing analyst consultant company. I worked on their main product/service called
                                    a(href="https://www.onlinesolutionsgroup.de/online-marketing-tool/") “Performance Suite”
                                    | It's a Symfony 3 based web application.
                                    | I've been self-employed with T&M contract.
                                ul
                                    li Write "Security Checker" module / micro service. This is done by ZAProxy (by OWASP) scans of the client's website. The module also check ssl configurations, certificates. The module identifies risks, advises solutions / communication tool to an expert, tracks progress, etc.
                                    li Implement module to monitor / analyze Google My Business performance by using their semi-closed API interface. Clients can interact with the Google service as well: answering to reviews, modify permissions, etc.
                                    li Implement linguistic module to analyze client's website text and make advises how to improve SEO friendliness by better using key words, grammar, etc. Module also includes article creator tool to help make new content by suggestions and live analisys.
                                    li Fix bugs, upgrade libraries/apis, refactor code.
                            .xp-item
                                h3 Virgo Systems
                                    small.text-muted Lead developer
                                h4 February 2017 - December 2018
                                p
                                    | Virgo Systems is a full-service digital agency with an excellent and long-standing reputation in Hungary. The company is proud to be agile and fully adopt the scrum framework.
                                    | Fulfill lead developer role in agile group:
                                ul
                                    li Assist the Project manager and the company's clients to create user stories.
                                    li Prepare and lead Sprint planning.
                                    li Handle day-to-day issues.
                                    li Mentor junior developers
                                    li Report to Project Manager, Scrum Master.

                            .xp-col-end.d-none.d-lg-block
                        .col-lg
                            .xp-col-start.d-none.d-lg-block
                            .xp-item
                                h3 DIGI Kft.
                                    small.text-muted Lead developer
                                h4 August 2009 - January 2017
                                p
                                    | DIGI is a leading telecommunication company offering triple-play (internet/tv/phone) solution via cable, satellite, wireless based technologies. I was the technical leader of the development department.
                                    | We made, developed, supported and maintained various web based applications which includes, but not limited to:
                                ul
                                    li Customer/subscribtion database
                                    li Access control of various telecom. services.
                                    li Public portal (CMS).
                                    li Customer self service (CSS).
                                    li Web and mobile client for DIGI Online (Live TV streaming).
                                    li Back-office apps like: ticketing system, inventory management, sales software, intranet / hr portal, car fleet tracking, etc.
                                    li Integration between own and third-party software
                            .xp-item
                                h3 Howdy Group
                                    small.text-muted Lead developer
                                h4 November 2019 - Present
                                p
                                    | The company made for non-international, localized, but translatable and flexible social-networking site. Each country had separated installation adapted to local culture and requests. The site had 10+ country based versions worldwide.
                                    | Even the product was ready on time, technically successful, it arrived late to market due to unpredicted scale of Facebook's influence.
                                ul
                                    li Lead group of 10 developers to create build the application from scratch.
                                    li Work with Linux administrators to prepare flexible backend.
                                    li Work with project and company management.
                            .xp-item
                                h3 Jasmin Media Group
                                    small.text-muted Core developer
                                h4 November 2005 - July 2008
                                p The company (is now called “Dockler Holding”) bought a inactive, but legendary (actually first in hungary) freeweb brand: extra.hu. The goal was to make it shine again, also add new features. It was the time the age of blogs, so we made a blogging engine with wordpress. At the top we served more then million websites, blogs and emails.
                                ul
                                    li z
                            .xp-item
                                h3 Amice kft.
                                    small.text-muted Core developer
                                h4 May 2003 - October 2005
                                p
                                    | Core developer of a complete web based ERP (Enterprise resource planning) product called ExtWork.
                                    | This designed for mid-size companies as an alternative to expensive applications such as SAP, Oracle, etc.
                                    | The application based on Drupal engine v4.2. At these times (pure) web applications (especially ERP) were almost unheard of.
                                    | The independence from Java/Flash and use of AJAX made it ahead of it's time.
                                ul
                                    li z
                            .xp-item
                                h3 Bank Austria Creditanstalt Zrt.
                                    small.text-muted System / Network Administrator
                                h4 September 1998 - October 2002
                                p y
                                ul
                                    li z
            // End Experience Section

            hr.m-0

            // ======= project Section =======
            section#project.resume-section
                .resume-section-content(data-aos='fade-up')
                    .section-title
                        h2 Projects
                        p
                            | These are the projects / websites I contributed into as an employee. The list is not complete by far, but offers good overview.
                    .row
                        .col-lg-12.d-flex.justify-content-center(data-aos='fade-up' data-aos-delay='100')
                            ul#project-filters
                                li.filter-active(data-filter='*') All
                                li(data-filter='.filter-digi') DIGI
                                li(data-filter='.filter-osg') OSG
                                li(data-filter='.filter-virgo') Virgo
                                li(data-filter='.filter-jmg') JMG
                                li(data-filter='.filter-amice') Amice


                    mixin project(company, name, filter, details_url, cover_pic_url)
                        div(class=['col-lg-4', 'col-md-6', 'project-item', 'filter-' + filter])
                            .project-wrap
                                img.img-fluid(src=cover_pic_url alt='')
                                .project-info.venobox(href=details_url data-gall='projectDetailsGallery' data-vbtype='iframe' title='Show details...')
                                    h3= company
                                    big= name
                                    //.project-links.mt-3
                                    //    a.p-2.venobox(href=cover_pic_url data-gall='projectGallery' title=company + ' - ' + name)
                                    //        i.fas.fa-search
                                    //    a.p-2.venobox(href=details_url data-gall='projectDetailsGallery' data-vbtype='iframe' title='Show details...')
                                    //        i.fas.fa-external-link-alt

                    .row.project-container(data-aos='fade-up' data-aos-delay='200')
                        +project('Online Solutions Group', 'Performance Suite', 'osg', 'project-osg-ps.html', 'assets/img/project/osg/ps/cover.png')
                        +project('Virgo', 'joautok.hu', 'virgo', 'project-virgo-joautok.html', 'assets/img/project/virgo/joautok/cover.jpg')
                        +project('Virgo', 'edigital.hu', 'virgo', 'project-virgo-edigital.html', 'assets/img/project/virgo/edigital/cover.jpg')
                        +project('DIGI', 'digi.hu', 'digi', 'project-digi-portal.html', 'assets/img/project/digi/portal/cover.jpg')
                        +project('DIGI', 'digionline.hu', 'digi', 'project-digi-online.html', 'assets/img/project/digi/online/cover.jpg')
                        +project('Howdy Group', 'hali.hu', 'howdy', 'project-howdy-hali.html', 'assets/img/project/howdy/hali/cover.jpg')
                        +project('Jasmin Media Group', 'extra.hu', 'jmg', 'project-jmg-extra.html', 'assets/img/project/jmg/extra/cover.jpg')
                        +project('Jasmin Media Group', 'livejasmin.com', 'jmg', 'project-jmg-livejasmin.html', 'assets/img/project/jmg/livejasmin/cover.jpg')
                        +project('Amice Kft.', 'ExtWork', 'amice', 'project-amice-extwork.html', 'assets/img/project/amice/extwork/cover.jpg')

            // End project Section


            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content(data-aos='fade-up')
                    h2.mb-5 Education
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Óbuda University
                            .subheading.mb-3 Engineering Manager
                            div I earned a Bachelor of Sciences in Engineering Management (BSc) on Keleti Károly Faculty of Business and Management. Sometimes called Technical Management. This BSc programme offered a broad-based approach to engineering and management, provided   an educational profile that combines in-depth technical competence with a solid knowledge in business administration and management.
                        .flex-shrink-0
                            span.text-primary October 2004 - June 2008
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Controll Training
                            .subheading.mb-3 Software Developer
                                small.text-muted (OKJ 54464104)
                            div General software planning and development training for 2 years. Languages: .NET, Delphi, Visual Basic
                        .flex-shrink-0
                            span.text-primary October 2001 - May 2003

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Klauzál Gábor Szakközépiskola
                                small.text-muted (high school)
                            .subheading.mb-3 Electrical Engineering Technician
                                small.text-muted (FEOR 7443)
                            div Yes, I studied to be an electrical engineering technician. The craftsman who is primarily trained to deal with the "design, application, installation, manufacturing, operation and/or maintenance of electrical/electronic(s) systems.
                        .flex-shrink-0
                            span.text-primary September 1994 - June 1998

            hr.m-0

            // Interests
            //section#interests.resume-section
            //    .resume-section-content(data-aos='fade-up')
            //        h2.mb-5 Interests
            //        p
            //            | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
            //        p.mb-0
            //            | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.min.js')

        // Core theme JS
        script(src='js/scripts.js')
